@model MebleShop.Models.Entities.Comment.Coment

@{
    ViewBag.Title = "Создание отзыва";
    Layout = "~/Views/Shared/_MainShopLayout.cshtml";
}

<div class="container_3">
    <div class="oformlenie_zakaza">
        <h3>Отправить отзыв</h3>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="all5">
            @*<strong>Опишите проблему или поделитесь мнением, ваше мнение это залог нашего успеха</strong>
            <br />*@

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-10" style="padding-bottom: 20px">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @style = "font-size: 20px;" } })
                <br />
                <br />
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger", @style = "margin-left: 60px; font-size: 18px;" })
            </div>

            <div class="col-md-10" style="padding-bottom: 20px">
                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @style = "font-size: 20px;" } })
                <br />
                <br />
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger", @style = "margin-left: 190px; font-size: 18px;" })
            </div>

            <div class="col-md-10">
                @Html.LabelFor(model => model.Details, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger", @style = "margin-left: 10px; font-size: 18px;" })
                @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control", @style = "margin-top:30px; margin-left: 20px; width: 580px; resize: none;" } })
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" style="padding-left:70px">
                    <button class="btn btn-success" type="submit">Отправить отзыв</button> 
                </div>
            </div>
        </div>
    }
    <h3 style="margin-top:100px">Отзывы</h3>
    @Html.Action("PartialIndex")
    </div>

    @section Scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                $('html, body').animate({
                    scrollTop: $('h3').offset().top
                }, 2000);
            });
        </script>
    }
