@model MebleShop.Models.Entities.Feedback

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>Детали отзыва от @Model.FirstName</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd style="margin-bottom: 10px;">
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondName)
        </dt>

        <dd style="margin-bottom: 10px;">
            @Html.DisplayFor(model => model.SecondName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd style="margin-bottom: 10px;">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd style="margin-bottom: 10px;">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
                @Html.DisplayFor(model => model.Details)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Назад", "Index", new { }, htmlAttributes: new { @class = "btn btn-primary" })
</p>

