@model IEnumerable<MebleShop.Models.Entities.Feedback>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="padding-bottom:30px">
    <h1>Админ панель</h1>
    <p class="lead"><em>Здесь отображены непрочитанные заказы пользователей</em> </p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<table class="table">
    <tr>
        <th>
            Имя
        </th>
        <th>
            Фамилия
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            Номер телефона
        </th>
        <th>
            Описание
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.IsRead == false)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @if (item.Details.Length > 50)
                {
                    @String.Concat(item.Details.Substring(0, 50), "...")
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Details)
                }   
            </td>
            <td>
                @Html.ActionLink("Подробнее", "Details", new { id = item.FeedId }, htmlAttributes: new { @class = "btn btn-success" }) |
                <a href="javascript:void(0);" data-id="@item.FeedId" class="btn btn-warning">В прочитаное</a>
                @*@Html.ActionLink("В прочитанное", "ToRead", new { id = item.FeedId }, htmlAttributes: new { @class = "btn btn-warning" })*@
            </td>
        </tr>
        }
    }

</table>

@section Scripts {

    <script>
        $('.btn-warning').click(function (e) {
            e.preventDefault();
            var $ctrl = $(this);
            if (confirm('Вы уверены, что прочитали?')) {
                $.ajax({
                    url: '@Url.Action("ToRead")',
                    type: 'POST',
                    data: { id: $(this).data('id') }
                }).done(function (data) {
                    if (data.Result == "OK") {
                        $ctrl.closest('tr').remove();
                    }
                    else if (data.Result.Message) {
                        alert(data.Result.Message);
                    }
                }).fail(function () {
                    alert("Что-то пошло не так. Пожалуйста, попробуйте еще раз");
                })

            }
        });
    </script>
}
